<mat-card class="card">
    <mat-card-header> </mat-card-header>
    <img
      src="{{ imagePath }}"
      (click)="onClickCard('movieIDFormImage')"
      class="cardAction"
    />
    <div class="content">
      <ng-content></ng-content>
    </div>
    <div class="card-footer">
      <mat-card-title
        (click)="onClickCard('movieIDFormTitle')"
        class="cardAction"
      >
        {{ cardTitle }}
      </mat-card-title>
      <mat-card-subtitle>{{ cardSubtitle }}</mat-card-subtitle>
    </div>
  </mat-card>