<div class="tooltip-content">
  <h3>{{ title }}</h3>
  <div class="video-container">
    <!-- <iframe
      [src]="safeUrl"
      frameborder="1"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe> -->

    <iframe [src]="safeUrl" frameborder="0" [frameBorder]="1" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="attack on titan"></iframe>
  </div>
</div>
