<div class="container">
    <div class="footer-logo">
        <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="">
        <div class="text">Hello Noman</div>
    </div>
    <div class="the-basic">
        <h1>The Basic</h1>
        <div class="content">
        <h4>About TMDB</h4>
        <h4>Contact Us</h4>
        <h4>Support Forums</h4>
        <h4>API</h4>
        <h4>System Status</h4>
        </div>
    </div>
    <div class="get-involved">
        <h1>The Basic</h1>
        <div class="content">
        <h4>About TMDB</h4>
        <h4>Contact Us</h4>
        <h4>Support Forums</h4>
        <h4>API</h4>
        <h4>System Status</h4>
        </div>
    </div>
    <div class="community">
        <h1>The Basic</h1>
        <div class="content">
        <h4>About TMDB</h4>
        <h4>Contact Us</h4>
        <h4>Support Forums</h4>
        <h4>API</h4>
        <h4>System Status</h4>
        </div>
    </div>
    <div class="legal">
        <h1>The Basic</h1>
        <div class="content">
        <h4>About TMDB</h4>
        <h4>Contact Us</h4>
        <h4>Support Forums</h4>
        <h4>API</h4>
        <h4>System Status</h4>
        </div>
    </div>
</div>
